@import url("https://fonts.googleapis.com/css2?family=Abel&family=Exile&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&family=WDXL+Lubrifont+JP+N&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}
body {
  margin: 0;
}
.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
}
.nav_bar {
  background-color: rgb(13, 175, 13);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 50px;
}

.nav_bar2 {
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  border: 1px solid;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
  border-radius: 10px;
  text-decoration: none;
}
.logo2 {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  border: 1px solid;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
  border-radius: 10px;
  text-decoration: none;
  display: none;
}
.burger {
  display: none;
}
.right_nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 30px;
}

.search_box {
  width: 62%;
  height: 65%;
  display: flex;
  cursor: pointer;
}
.search_bar {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
}
.icon {
  height: 100%;
  background-color: olivedrab;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxi {
  font-size: 20px;
}
.pfp {
  width: 30px;
  height: 40px;
  border-radius: 40%;
  margin-right: 20px;
  cursor: pointer;
}
.cart {
  font-size: 35px;
  color: white;
}
.cart_box {
  display: flex;
  align-items: center;
  height: 80%;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}
.cart_box:hover {
  border: 2px solid white;
  cursor: pointer;
}
.cart_text {
  font-size: 15px;
  font-weight: 800;
  color: white;
  margin-top: 40%;
}
.top_box {
  flex-grow: 1;
}
.cart_num {
  position: absolute;
  top: -18px;
  color: red;
  margin-left: 7px;
  font-size: 17px;
  padding: 3px 10px 3px 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.712);
}
.shop_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  align-items: stretch;
}
.item_box {
  border: 1px ridge;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.item_image {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.item_description {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 15px;
}
.prize {
  font-size: 0.8rem;
  font-weight: 800;
  margin-left: 15px;
}
.add_cart {
  background-color: greenyellow;
  border: none;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.prize_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.quantityBox {
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}
.added_box {
  display: flex;
  opacity: 0;
  align-items: center;
  margin-left: 10px;
}
.add_icon {
  color: green;
  font-size: 20px;
}
.added_text {
  font-size: 16px;
  color: green;
}
.burger_popup {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0px;
  background-color: rgb(13, 175, 13);
}
.js-cart-quantity2 {
  color: red;
}
.pfp2 {
  display: flex;
  gap: 10px;
}
.pfp3 {
  position: absolute;
  margin-left: 100px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 835px) {
  .logo {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: none;
  }
  .logo2 {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
  }
}

@media (max-width: 700px) {
  .main {
    display: block;
    height: 100vh;
    width: 100vw;
    margin-top: 45px;
  }
  .right_nav {
    display: none;
  }
  .burger {
    display: block;
    font-size: 30px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
  }
  .nav_bar2 {
    display: flex;
    flex-direction: column;
  }
  .burger_popup {
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 0px;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    background-color: olivedrab;
    font-size: 10px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 400;
  }
  .burger_popup.active {
    height: 100px;
    opacity: 1;
  }
  .link2 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 800;
  }
  .icon {
    height: 100%;
    background-color: olivedrab;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .shop_container {
    display: flex;
    flex-direction: column;
  }
  .item_image {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .search_box {
    width: 55%;
    height: 65%;
    display: flex;
    cursor: pointer;
  }

  .logo {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: none;
  }
  .logo2 {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
  }
}

/* checkhout html */
.checkout_box {
  color: white;
}
.checkout {
  color: black;
}
.main2 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 69vw 1fr;
}
.cart_items {
  position: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 150px;
}
.cartItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.deliveryDate {
  font-size: 18px;
  align-self: center;
  color: green;
  margin-left: 15px;
}
.itemBox {
  display: grid;
  grid-template-rows: 50px 190px;
  width: 95%;
  border: 2px ridge rgba(255, 255, 255, 0.555);
}
.itemBox_inside {
  display: flex;
}

.cart_image {
  width: 30%;
  margin-bottom: 100px;
  height: 100%;
}

.cart_NPQ {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 0;
  margin-top: 8px;
}
.cartName {
  font-size: 15px;
  margin: 0;
}
.cart_price {
  margin: 5px 0;
  font-size: 15px;
  color: royalblue;
}
.cart_QB {
  margin: 0;
  display: flex;
  font-size: 15px;
  gap: 5px;
}
.bts {
  display: flex;
  align-items: center;
  gap: 2px;
}
.quantity-input {
  width: 30px;
  text-align: center;
}
.cart_bt {
  border: none;
  padding: 0;
  height: fit-content;
  background: white;
  color: blue;
  font-size: 12px;
  cursor: pointer;
}
.cart_quantity,
.q {
  margin: 0;
}
.delivery_option {
  margin-top: 8px;

  display: flex;
  flex-direction: column;
}
.delivery_title {
  margin: 0;
  font-size: 15px;
  font-weight: 800;
}
.dates {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.options {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.date1 {
  margin: 0;
  color: forestgreen;
  font-size: 15px;
  font-weight: 800;
}
.ship {
  margin: 0;
  color: gray;
  font-size: 15px;
}
.summary {
  position: flex;
  margin-top: 100px;
}
.summary_box {
  width: 80%;
  height: 260px;
  border: 2px ridge rgba(255, 255, 255, 0.555);
  margin-top: 80px;
  text-indent: 20px;
  font-size: 15px;
}
.summary_inside {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-bottom: 2px;
}
.summary_inside2 {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-bottom: 2px;
  margin-top: 8px;
}
.summary_inside3 {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-bottom: 2px;
  margin-top: 8px;
  align-items: center;
}
.margin {
  margin: 0;
}
.line {
  display: flex;
  width: 100%;
  justify-content: end;
}
.line2 {
  width: 23%;
  margin-right: 10px;
  border-top: 2px ridge;
  margin-top: 5px;
}
.line3 {
  border-bottom: 2px ridge;
  width: 90%;
  margin-left: 17px;
  margin-top: 10px;
}
.OT {
  font-size: 20px;
  color: rgb(167, 6, 6);
}
.order_total {
  color: rgb(167, 6, 6);
}
.place_order {
  margin-top: 20px;
  margin-left: 20px;
  width: 88%;
  padding: 8px 0;
  border-radius: 8px;
  background-color: greenyellow;
  cursor: pointer;
  border: none;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
}

.save-quantity-link {
  display: none;
}
.quantity-input {
  display: none;
}
.js-update-link {
  display: block;
}

.is-editing .quantity-input,
.is-editing .save-quantity-link {
  display: inline;
}

.is-editing .cart_quantity,
.is-editing .js-update-link {
  display: none;
}
